@import "tailwindcss";

/* optional base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #FFFFFF;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #FFFFFF;
}

nav {
  border: none;
  outline: none;
  box-shadow: none;
}